.page-column-AFS {
    flex-direction: column;
    display: flex;
    background-color: white;
}

@media (max-width: 768px) {
    /* Dette er et breakpoint for tablets og nedad */
    .page-column-AFS {
        /* Tilpas layout for mobile enheder */
        flex-direction: column;
        padding: 20px; /* mere plads på små skærme */
    }
    .header-top img {
        width: 80px; /* mindre billede på små skærme */
    }

    .AddressFormColumn {
        /* Gør form elementer bredere til at tage mere plads */
        width: 100%;
        max-width: none;
        margin-left: 100px;
        margin-right: 100px;
    }
}

.AddressFormColumn {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    flex-direction: column;
    padding: 20px;
    background-color: #fff;
    border-radius: 0px;
    font-size: 14px;
    margin-left: 400px;
    margin-right: 400px;
}

h2 {
    align-items: center;
    padding-bottom: 20px;
    font-size: 25px;
}

.AddressForm {
    font-size: 14px;
}

.AddressForm input, .form-row textarea {
    border-radius: 0px;
    border: 0.5px solid #ccc;
}

.input-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.input-wrapper label {
    flex-grow: 1;
}

.input-wrapper .error-message1 {
    margin-left: 10px; /* Tilføj mellemrum mellem inputfeltet og fejlbeskeden */
    color: red;
    white-space: nowrap; /* Sørg for at fejlbeskeden ikke bryder over flere linjer */
    position: absolute;
    right: 52%;
}