.Addres-Form-Row {
    flex-direction: row;
    display: flex;
    border: 1px solid #ccc;
    padding: 10px;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF; /* Ændret til hvid */
}

h2 {
    margin-left: -880px; /* Juster værdien efter behov */
}