.button-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 250px;
}

.button-left, .button-right {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.button-left {
    background-color: #212121;
    color: white;
}

.button-right {
    background-color: #f4a261;
    color: white;
}

.button-view-terms-conditions {
    background-color: #212121;
    color: white;
}