.page-column-PFS {
    flex-direction: column;
    display: flex;
    background-color: white;
}

.Payment-Form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 12px;
    font-size: 14px;
    background-color: #fff;
    border-radius: 0px;
    flex: 1;
    margin: 20px;
}

.form-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-row label {
    margin-bottom: 5px;
    font-weight: bold;
}


.form-row textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.form-checkbox {
    display: flex;
    flex-direction: column;
    max-width: 240px;
    margin: 20px;
}

.form-checkbox label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.form-checkbox input[type="checkbox"] {
    margin-right: 10px;
}