// Colors
$default: #909090;
$grey: #efefef;
$main-color: #f4a261;
$Light-grey: #909090;

.page-background{
  flex-direction: column;
  display: flex;
  background-color: white;
  z-index: -3;
}
// Basic
body {
  background-color: $grey;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  h1 {
    font-weight: 700;
  }
}

// Progress bar
#progress-bar {
  display: table;
  max-width:97.5%;
  width: 100%;
  margin-bottom: 12px;
  padding: 15px 15px 0;
  table-layout: fixed;
  width: 100%;
  counter-reset: step;
  li {
    list-style-type: none;
    display: table-cell;
    width: 20%;
    float: left;
    font-size: 16px;
    position: relative;
    text-align: center;
    &:before {
      width: 50px;
      height: 50px;
      color: $Light-grey;
      content: counter(step);
      counter-increment: step;
      line-height: 50px;
      font-size: 18px;
      border: 1px solid $Light-grey;
      display: block;
      text-align: center;
      margin: 0 auto 10px auto;
      border-radius: 50%;
      background-color: #fff;
      z-index: 1;
      position: relative;
    }
    &:after {
      width: 100%;
      height: 10px;
      content: '';
      position: absolute;
      left: -50%;
      background-color: transparent; // Sæt dette til transparent
      border-top: 1px solid $Light-grey; // Gør linjen øverst
      top: 35%; // Centrer linjen
    }
    &:first-child:after {
      content: none;
    }
    &.step-done {
      color: $main-color;


      &:before {
        content: "\f00c";
        font-family: "Font Awesome 5 Free"; /* Make sure this is correct */
        font-weight: 900; /* Solid style icons need this font-weight */
        color: #fff;
        background-color: $main-color;
        border-color: $main-color;
      }
      & + li:after {
        background-color: transparent;
        border-top: 4px solid $main-color; // Gør linjen øverst
      }
    }
    &.step-active {
      color: $main-color;
      &:before {
        border-color: $main-color;
        color: $main-color;
        font-weight: 700;
      }
    }
  }
}